@using HomelessHelper.Core.Infrastructure
@model HomelessHelper.Models.SearchModel

@{
    ViewBag.Title = "Search";
}

<!DOCTYPE html>

<html>
<head>
    <title>Search</title>
</head>
<body>
<br/>
    
<form class="navbar-form navbar-left" role="search" action="@Url.Action("Search", "Search")">
    <div class="form-group">
        <input style="width: 500px" id="SearchTerm" name="SearchTerm" type="text" class="form-control" placeholder="Search by Name, DOB, or SSN">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<br /><br /><br />
    
<div class="container">
    <table class="table table-striped" style="width: 100%">
        <tr>
            <th>Name</th>
            <th>UUID</th>
            <th>SSN</th>
            <th>Bed #</th>
            <th>DOB</th>
        </tr>
        @foreach (var client in Model.Clients.OrderByDescending(x => x.LastName))
        {
            <tr>
                <td><a href=@Url.Action("Index", "ViewClient", new {id = client.Id})> @($"{client.FirstName} {client.MiddleName} {client.LastName}")</a></td>               
                <td>@client.UUID</td>
                <td>@client.SSN.MaskSSN()</td>
                <td>@client.BedNumber</td>
                <td>@(client.DateOfBirth?.ToString("MM/dd/yyyy"))</td>
            </tr>
        }
    </table>
</div>
</body>
</html>

@Scripts.Render("~/bundles/jquery")
<script>    
    $(document).ready(function () { $('#SearchTerm').focus(); });
</script>