@model HomelessHelper.Models.ShelterSearchModel
@{ ViewBag.Title = "Shelter Search";}
<br/>
<form class="navbar-form navbar-left" style="width: 100%" role="search" action="@Url.Action("Search","ShelterSearch")">
    <div class="form-group">
        <input id="SearchTerm" name="SearchTerm" type="text" class="form-control" placeholder="Enter Shelter name/city/zipcode">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20%">Name</th>
            <th>Shelter Type</th>
            <th>Number of Beds</th>
            <th>Beds Available</th>
            <th style="width: 20%">Address</th>
            <th style="width: 20%">Services Offered</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shelter in Model.Results)
        {
            <tr>
                <td>@shelter.ShelterName</td>
                <td>@shelter.ShelterType</td>
                <td>@shelter.NumberOfBeds</td>
                <td>@shelter.BedsAvailable</td>
                <td>@shelter.ShelterAddress.AddressLine1<br/>@shelter.ShelterAddress.City, &nbsp;&nbsp; @shelter.ShelterAddress.State &nbsp; @shelter.ShelterAddress.Zip </td>
                <td>@shelter.ServicesOfferedList</td>
            </tr>
        }
    </tbody>
</table> 