@model HomelessHelper.Models.ShelterSearchModel
@{ ViewBag.Title = "Shelter Search";}
<br/>
<form class="navbar-form navbar-left" style="width: 100%" role="search" action="@Url.Action("Search","ShelterSearch")">
    <div class="form-group">
        <input id="SearchTerm" name="SearchTerm" type="text" class="form-control" placeholder="Enter Shelter name/city/zipcode">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20%">Name</th>
            <th>Shelter Type</th>
            <th>Number of Beds</th>
            <th>Beds Available</th>
            <th style="width: 20%">Address</th>
            <th style="width: 20%">Services Offered</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shelter in Model.Results)
        {
            <tr data-toggle="modal" data-target="#myModal" style="cursor: pointer" data-id="@shelter.ShelterId">
                <td>@shelter.ShelterName</td>
                <td>@shelter.ShelterType</td>
                <td>@shelter.NumberOfBeds</td>
                <td>@shelter.BedsAvailable</td>
                <td>@shelter.ShelterAddress.AddressLine1<br/>@shelter.ShelterAddress.City, &nbsp;&nbsp; @shelter.ShelterAddress.State &nbsp; @shelter.ShelterAddress.Zip </td>
                <td>@shelter.ServicesOfferedList</td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Shelter</h4>
      </div>
      <div class="modal-body">
          <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                  <span class="sr-only">40% Complete (success)</span>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script> 
    var shelterDetailUrl = '@Html.Raw(Url.Action("Index","ViewShelter"))';
    $(document).ready(function() {
        $('#SearchTerm').focus();
        $('.modal').on('shown.bs.modal',
                function (event) {
                    var button = $(event.relatedTarget); 
                    var shelterId = button.data('id');
                    var url = shelterDetailUrl + "?id=" + shelterId;
                    $(".modal-content").load(url);
                });
    });
</script>