@model HomelessHelper.Core.Domain.Client

@{
    ViewBag.Title = $"{Model.FirstName} {Model.LastName}";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="row">
        <div class="panel-default col-sm-3 breadcrumb">
            <div class="panel-heading">Demographics</div>
            <div class="panel-body">
                <div>
                    @Html.LabelFor(model => model.FirstName)<br />
                    @Html.DisplayFor(model => model.LastName)<br /><br />
                </div>
                <div>
                    @Html.LabelFor(model => model.MiddleName)<br />
                    @Html.DisplayFor(model => model.MiddleName)<br /><br />
                </div>
                <div>
                    @Html.LabelFor(model => model.LastName)<br />
                    @Html.DisplayFor(model => model.LastName)<br /><br />
                </div>
                <div>
                    @Html.LabelFor(model => model.DateOfBirth)<br />
                    @Html.DisplayFor(model => model.DateOfBirth)<br /><br />
                </div>
                <div>
                    @Html.LabelFor(model => model.Email)<br />
                    @Html.DisplayFor(model => model.Email)<br /><br />
                </div>
                <div>
                    @Html.LabelFor(model => model.Ethnicity)<br />
                    @Html.DisplayFor(model => model.Ethnicity)<br /><br />
                </div>
            </div>           
        </div>
        <div class="panel-default col-sm-3 breadcrumb">
            <div>
                @Html.LabelFor(model => model.BedNumber)<br />
                @Html.DisplayFor(model => model.BedNumber)<br /><br />
            </div>         
            <div>
                @Html.LabelFor(model => model.ClientStatus)<br />
                @Html.DisplayFor(model => model.ClientStatus)<br /><br />
            </div>
        </div>      
        <div class="panel-default col-sm-3 breadcrumb">
            <div class="panel-heading">Veteran Infos</div>
            <div class="panel-body">
                <div>
                    @Html.LabelFor(model => model.VeteranStatus)<br />
                    @Html.DisplayFor(model => model.VeteranStatus)<br /><br />
                </div>
                <div>
                    @Html.LabelFor(model => model.Veteran)<br />
                    @Html.DisplayFor(model => model.VeteranStatus)<br /><br />
                </div>
            </div>            
        </div>
    </div>
</body>
</html>
