@model HomelessHelper.Models.InTakeModel
@{
    ViewBag.Title = "Intake";
}

<h2>Intake</h2>

<div class="intake-form">
    <div class="col-md-10">
        @Html.LabelFor(model => model.FirstName)
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="col-md-10">
        @Html.LabelFor(model => model.LastName)
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
    <div class="col-md-10">
        @Html.LabelFor(model => model.SSN)
        @Html.EditorFor(model => model.SSN)
        @Html.ValidationMessageFor(model => model.SSN)
    </div>
    <div class="col-md-10">
        @Html.LabelFor(model => model.DateOfBirth)
        @Html.EditorFor(model => model.DateOfBirth)
        @Html.ValidationMessageFor(model =>  model.DateOfBirth)
    </div>
    <div class="col-md-10">
        @Html.LabelFor(model => model.Race)
        @Html.EditorFor(model => model.Race)
        @Html.ValidationMessageFor(model => model.Race)
    </div>
    <div class="col-md-10">
        @Html.LabelFor(model => model.Gender)
        @Html.EditorFor(model => model.Gender)
        @Html.ValidationMessageFor(model => model.Gender)
    </div>
    <div class="col-md-10">
        @Html.LabelFor(model => model.VetStatus)
        @Html.EditorFor(model => model.VetStatus)
        @Html.ValidationMessageFor(model => model.VetStatus)
    </div>

</div>
