@using System.Web.UI.WebControls
@model HomelessHelper.Models.InTakeModel
@{
    ViewBag.Title = "Intake";
}

<h2>Intake</h2>


@using (Ajax.BeginForm("PostInTakeForm", new AjaxOptions { InsertionMode = InsertionMode.Replace }))
{
    <div class="intake-form">
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName)<br/>
            @Html.EditorFor(model => model.FirstName)<br />
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName)<br />
            @Html.EditorFor(model => model.LastName)<br />
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SSN)<br />
            @Html.EditorFor(model => model.SSN)<br />
            @Html.ValidationMessageFor(model => model.SSN)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber)<br />
            @Html.EditorFor(model => model.PhoneNumber)<br />
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth)<br />
            @Html.EditorFor(model => model.DateOfBirth)<br />
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>
        <div>
            @Html.LabelFor(model => model.Email)<br />
            @Html.EditorFor(model => model.Email)<br />
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Race)<br />
            @Html.EnumDropDownListFor(model => model.Race)<br />
            @Html.ValidationMessageFor(model => model.Race)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Gender)<br />
            @Html.EnumDropDownListFor(model => model.Gender)<br />
            @Html.ValidationMessageFor(model => model.Gender)
        </div>
        <div class="form-group">
            @Html.Label("Are you a Veteran?")
            @Html.CheckBox("isVet", new { @onclick = "showHide('vetStatus')" })
        </div>
        @*        if IsVet, show rest of fields*@
        <div id="vetStatus">
            <div class="form-group">
                @Html.LabelFor(model => model.VetStatus.YearEnteredService)<br />
                @Html.EditorFor(model => model.VetStatus.YearEnteredService)<br />
                @Html.ValidationMessageFor(model => model.VetStatus.YearEnteredService)
            </div>
            <div class="form-group" style="">
                @Html.LabelFor(model => model.VetStatus.YearLeftService)<br />
                @Html.EditorFor(model => model.VetStatus.YearLeftService)<br />
                @Html.ValidationMessageFor(model => model.VetStatus.YearLeftService)
            </div>
            <div class="form-group" style="">
                @Html.LabelFor(model => model.VetStatus.WarServedIn)<br />
                @Html.EnumDropDownListFor(model => model.VetStatus.WarServedIn)<br />
                @Html.ValidationMessageFor(model => model.VetStatus.WarServedIn)
            </div>
            <div class="form-group" style="">
                @Html.LabelFor(model => model.VetStatus.MilitaryBranch)<br />
                @Html.EnumDropDownListFor(model => model.VetStatus.MilitaryBranch)<br />
                @Html.ValidationMessageFor(model => model.VetStatus.MilitaryBranch)
            </div>
            <div class="form-group" style="">
                @Html.LabelFor(model => model.VetStatus.DischargeStatus)<br />
                @Html.EnumDropDownListFor(model => model.VetStatus.DischargeStatus)<br />
                @Html.ValidationMessageFor(model => model.VetStatus.DischargeStatus)
            </div>
        </div>
        <div class="form-group" style="">
            @Html.LabelFor(model => model.SituationSummary)<br />
            @Html.EditorFor(model => model.SituationSummary)<br />
            @Html.ValidationMessageFor(model => model.SituationSummary)
        </div>
        <input type="submit" value="Submit" />
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/intake")    
}
